*{
    margin: 5px;
    padding: 0;
}
.styleCss{
    background-color: green;
    font-size: 4rem;
    font-weight: bold;
    justify-content: center;
    width: 800px;
    height: 300px;
    text-align: center;
}
.over{
    background-color: rgb(243, 255, 9);
    font-size: 4rem;
    font-weight: bold;
    justify-content: center;
    width: 800px;
    height: 300px;
    text-align: center;
}
.out{
    background-color: rgb(238, 1, 1);
    font-size: 4rem;
    font-weight: bold;
    justify-content: center;
    width: 800px;
    height: 300px;
    text-align: center;
}